body{
    background-color:#011640;
    font-family: Roboto;
}
.box{
    background-color: #bcbcbc;
    padding:20px;
    height:75vh;
    margin-top:12vh;
}

.bg img{
    max-width:60%;
    margin-top:35%;
    margin-left:0%;
}

.content .btn{
    margin-top:10vh;
    font-size:0.8em;
}

div:after{
    display: block;
    content: "";
    clear:both;
}

.question{
    padding:20px;
}
.camera{
    height:75vh;
    #background-color: #3D3D3D;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

h2{
    text-align: center;
    margin-bottom:20px;
}