body{
    /*background-color:#011640;*/
    background:#000 url('../staticfiles/images/introbg22.jpg') no-repeat;
    font-family: Roboto;
}
.box{
    background-color: whitesmoke; /*#bcbcbc;*/
    padding:20px;
    height:75vh;
    margin-top:12vh;
}

.bg img{
    max-width:60%;
    margin-top:35%;
    margin-left:0%;
}

.content .btn{
    margin-top:10vh;
    font-size:0.8em;
}

div:after{
    display: block;
    content: "";
    clear:both;
}

.question{
    padding:40px 40px 40px 20px;
}
.camera{
    height:75vh;
    #background-color: #3D3D3D;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

h2{
    text-align: center;
    margin-bottom:20px;
}


#record,.nextqn{
  margin:100px auto 0px auto;
}
.timer{
  text-align:center;
  color:white;
  font-size: 1.2em;
  font-weight: 800;
  position: relative;
  top:200px;
  left:-78px;
  display: inline-block;
  padding:15px 15px;
  width:62px;
  height: 62px;
  background-color:#98E257;
  border-radius: 50%;
  border:2px solid white;
}
